.about {
    /* border: solid black 1px; */
    padding: 50px 120px;
    z-index: 2;
}

.about p{
    margin-left: 20px;
    font-size: 25px;
}

#About {
    font-size: 50px;
}

.skill-container {
    display: flex;
    border: solid white 1px;
    z-index: 2;
    justify-content: space-around;
    width: 100%;
}

.skill-scroller {
    display: flex;
    justify-content: space-around;
    display: flex;
    /* height: 500px; */
    margin: 0 auto;
    /* border: solid black 3px; */
    z-index: 2;
    width: 100%;

}

.close {
    font-size: 50px;
}

/* 
.skill-scroller:hover {
    -webkit-animation-play-state: paused;
}

.skill-scroller>img {
    margin-left: 100px;
    animation: slide 8s linear infinite;
    z-index: 2;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1700px, 0, 0); /* The image width */
    

