#Projects {
    font-size: 50px;
}

p {
    font-size: 25px;
    z-index: 2;
}

.project-container {
    justify-content: center;
    padding: 50px 120px;
    z-index: 2;
}

.project-container>h1 {
    justify-content: center;

}

.project1 {
    display: flex;
}

.project-box1 {
    height: 300px;
    width: 600px;
    /* background-color: white; */
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin-left: 20px;
}
.project-box1:hover {
    transition: transform .2s;
    transform: scale(1.05);
}

.description1 {
    margin-left: 20px;
}

.project2 {
    display: flex;
}

.project-box2 {
    display: flex;
    height: 300px;
    width: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin-left: 20px;
    justify-content: flex-end;
}

.project-box2:hover {
    transition: transform .2s;
    transform: scale(1.05);
}

.description2 {
    margin-left: 20px;
}

.project3 {
    display: flex;
}

.project-box3 {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin-left: 20px;
}

.project-box3:hover {
    transition: transform .2s;
    transform: scale(1.05);
}

.description3 {
    margin-left: 20px;
}

img {
    z-index: 2;
}

.tab {
    margin-left: 20px;
}